* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.4;
}
a {
	text-decoration: none;
}

/* Utility Classes */
.container {
	max-width: 1280px;
	margin: auto;
	padding: 0 0.6rem;
	overflow: hidden;
}

/* header */
#header {
	background-color: #24292e;
	color: #fff;
	font-size: 14px;
	padding: 1rem 0;
	position: relative;
}

#header a {
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}
#header a:hover {
	color: #bdbfc0;
}
#header .logo {
	/* filter: invert(99%) sepia(2%) saturate(116%) hue-rotate(57deg)
		brightness(116%) contrast(100%); */
	width: 35px;
	height: 35px;
}
#header .logo a img {
	width: 35px;
	height: 35px;
	filter: invert(99%) sepia(2%) saturate(116%) hue-rotate(57deg)
		brightness(116%) contrast(100%);

	/* background-color: #fff; */
}
#header .nav_wrapper {
	display: flex;
	align-items: center;
}

#header .nav_wrapper .form {
	position: relative;
	margin-left: 0.9rem;
}

#header .nav_wrapper .form #search {
	width: 272px;
	border: 1px solid #444d56;
	background-color: #24292e;
	color: #fff;
	height: 30px;
	padding: 0 0.7rem;
	border-radius: 5px;
	outline: none;
	transition: width 250ms ease-in-out;
}
#header .nav_wrapper .form #search:focus {
	width: 524px;
}

#header .nav_wrapper .form img {
	position: absolute;
	top: 5px;
	right: 10px;
}

.nav_wrapper nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-left: 0.5rem;
}

.nav_wrapper nav .right .link {
	margin-left: 0.9rem;
}

.nav_wrapper nav .left {
	display: flex;
	align-items: center;
}
.nav_wrapper nav .left .icon {
	filter: invert(99%) sepia(2%) saturate(116%) hue-rotate(57deg)
		brightness(116%) contrast(100%);
	width: 16px;
	height: 16px;
	margin-left: 0.9rem;
}
.nav_wrapper nav .left .icon:hover {
	filter: invert(80%) sepia(7%) saturate(60%) hue-rotate(155deg) brightness(95%)
		contrast(91%);
}
.nav_wrapper nav .left .caret,
.nav_wrapper nav .left .user_Avatar .caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	content: '';
	border-top-style: solid;
	border-top-width: 4px;
	border-right: 4px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 4px solid transparent;
	padding-bottom: 0.4rem;
}
.nav_wrapper nav .left .user_Avatar img {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-left: 1rem;
}

/* main */

main .errorMessage {
	width: 100%;
	height: 50vh;
	padding: 3rem;
}
main .errorMessage h1 {
	font-size: 3rem;
	text-transform: uppercase;
}
main .tab_wrapper {
	border-bottom: 1px solid #e1e1e8;
	padding: 0 25rem;
	margin-top: 3rem;
}
main .tab {
	display: flex;
	/* justify-content: center; */
	padding-bottom: 1rem;
	padding-right: 0.5rem;
	/* padding-left: 0.5rem; */
	font-weight: 600;
	width: 167px;
	/* margin-left: 20rem; */
	border-bottom: 2px solid #f9826c;
	cursor: pointer;
	text-align: center;
}

main .tab a {
	margin-left: 0.3rem;
	font-size: 14px;
	color: #24292e;
}
main .tab img {
	width: 16px;
	height: 16px;
	margin-top: 0.1rem;
}
main .tab a .repo_number {
	background: #ebedef;
	max-width: 20px;
	padding: 0 6px;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 2em;
	margin-left: 0.5rem;
}
main section .profile_wrapper {
	display: grid;
	grid-template-areas: '  profile_details respositories respositories';
	/* grid-template-columns: 1fr 3fr; */
	padding: 0 1rem;
	width: 100%;
	grid-gap: 2rem;
	position: relative;
	z-index: 9;
}

#respositories {
	grid-area: respositories;
	margin-top: 2rem;
	width: 900px;
	/* margin-left: -6rem; */
}
#profile_details {
	grid-area: profile_details;
	width: 312px;
}
section .profile_wrapper .avatar_wrapper {
	position: relative;
	/* margin-top: -4rem; */
	z-index: 10;
}

section .profile_wrapper .avatar_wrapper .avatar {
	width: 280px;
	width: 280px;
	border-radius: 50%;
}
section .profile_wrapper .bio {
	margin-top: 1rem;
}
section .profile_wrapper .avatar_wrapper .name {
	font-size: 26px;
	line-height: 1.25;
	font-weight: 600;
}
section .profile_wrapper .avatar_wrapper .login {
	color: #8c9298;
	font-size: 20px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	display: block;
}

section .profile_wrapper .bio .title {
	margin-top: 1rem;
}
/* repositories */
#repositories {
}

#respositories .repo {
	border-bottom: 1px solid #ebedef;
	padding: 2rem 0;
}

#respositories .repo p {
	color: #586069;
	font-size: 14px;
}
#respositories .repo .repo_name {
	margin-bottom: 1rem;
}
#respositories .repo .name_wrapper {
	display: flex;
	justify-content: space-between;
}

#respositories .repo .repo_name a {
	color: #3685de;
	font-weight: 600;
	text-decoration: none;
	font-size: 20px;
}
#respositories .repo .repo_name a:hover {
	text-decoration: underline;
}
#respositories .repo button {
	padding: 3px 12px;
	background: #fafbfc;
	border-radius: 5px;
	border: 1px solid #ebedef;
	font-size: 12px;
	display: flex;
	align-items: center;
	color: #24292e;
	height: 30px;
	cursor: pointer;
}
#respositories .repo button svg {
	width: 16px;
	height: 16px;
	/* margin-top: 0.1rem; */
	margin-right: 0.2rem;
	filter: invert(51%) sepia(9%) saturate(431%) hue-rotate(169deg)
		brightness(92%) contrast(91%);
}
#respositories .repo .lang_wrapper {
	margin-top: 1rem;
}
#respositories .repo .lang_color {
	position: relative;
	top: 1px;
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}
#respositories .repo .lang {
	font-size: 12px;
	color: #586069;
	text-transform: capitalize;
	margin-top: 1rem;
}
#repositories .repo .likes svg {
	width: 16px;
	height: 16px;
}

/* LOADER */
#loader {
	border: 12px solid #f3f3f3;
	border-radius: 50%;
	border-top: 12px solid #444444;
	width: 70px;
	height: 70px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/* footer */
#footer .footer_wrapper {
	border-top: 1px solid #ebedef;
	margin-top: 3rem;
	padding-top: 2rem;
	padding-bottom: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#footer .footer_wrapper .copyright {
	text-align: center;
}

#footer .footer_wrapper p {
	font-size: 12px;
	color: #586069;
}
#footer .footer_wrapper a {
	font-size: 12px;
	color: #3685de;
	text-decoration: none;
}
#footer .footer_wrapper a:hover {
	text-decoration: underline;
}
#footer .footer_wrapper .logo img {
	width: 24px;
	height: 24px;
}
#footer .footer_wrapper .logo img:hover {
	fill: #ebedef;
}
#footer .footer_wrapper .links_1 {
	margin-right: 1rem;
}

#footer .footer_wrapper .links_1 a,
#footer .footer_wrapper .links_2 a {
	margin-left: 2.5rem;
}

/* MOBILE SCREENS */
@media (max-width: 768px) {
	.container {
		padding: 0 1rem;
	}
	/* Header */
	#header {
		padding: 1rem;
	}
	#header .container {
		padding: 0;
	}
	.nav_wrapper nav .left .bell {
		position: absolute;
		right: 1rem;
	}

	/* #header {
		padding-top: 1.5rem;
		text-align: center;
	} */
	/* #header .nav_wrapper {
		margin-top: 1rem;
	} */
	#header .logo {
		width: 32px;
		height: 32px;
	}
	#header .logo a img {
		width: 32px;
		height: 32px;
		position: absolute;
		top: 2.5rem;
		left: 50%;
		margin: -25px 0 0 -25px;
	}

	/* creating the hamburger menu */
	.menuBtn {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 60px;
		height: 60px;
		padding: 0.5rem;
		/* background: var(--primary-color); */
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.menuBtn span {
		position: relative;
		flex: none;
		width: 20px;
		height: 2px;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.4s ease;
	}
	.menuBtn span::before,
	.menuBtn span::after {
		content: '';
		position: absolute;
		z-index: 1;
		top: -7px;
		width: 100%;
		height: 2px;
		background: #fff;
	}
	.menuBtn span::after {
		top: 7px;
	}
	/* displaying nav items */
	#header .nav_wrapper {
		flex-direction: column;
	}
	/* .nav_wrapper nav {
		display: none;
	} */
	.nav_wrapper nav {
		display: block;
	}

	#header .nav_wrapper form #search {
		display: block;
		width: 100%;
	}

	.nav_wrapper nav .right {
		display: none;
		margin-left: 0;
		margin-top: 1rem;
	}
	.nav_wrapper nav .right.active {
		display: block;
	}

	.nav_wrapper nav .right a {
		display: block;
		border-bottom: 1px solid #586069;
		padding: 0.6rem 0;
		transition: all 0.3s;
	}
	.nav_wrapper nav .left {
		display: block;
	}

	/* .nav_wrapper nav .right a.active {
		display: block;
	} */

	.nav_wrapper nav .right .link {
		margin-left: 0;
	}
	.nav_wrapper nav .right.active:first-child {
		border-top: 1px solid #586069;
	}
	.nav_wrapper nav .left .bell {
		position: absolute;
		top: 1.3rem;
	}
	.nav_wrapper nav .left .carets {
		display: none;
	}

	#header .nav_wrapper .form {
		display: none;
	}

	#header .nav_wrapper .form.active {
		display: block;
		width: 100%;
		margin-top: 1rem;
		margin-left: 0;
	}
	#header .nav_wrapper .form #search:focus {
		width: 100%;
	}
	main .tab_wrapper {
		order: 2;
		width: 100%;
		padding: 0 1rem;
	}
	section {
		order: 1;
	}
	main section .profile_wrapper {
		display: block;
		padding: 0;
	}
	main section .profile_wrapper #respositories {
		width: 100% !important;
		padding: 0;
		margin: 0;
	}
	#profile_details {
		width: 100%;
		margin-top: 1.5rem;
	}
	section .profile_wrapper .bio .title {
		width: 100%;
		display: block;
		margin: 2rem 0;
	}
	section .profile_wrapper .avatar_wrapper {
		display: flex;
	}
	section .profile_wrapper .avatar_wrapper .avatar {
		width: 55px;

		border-radius: 50%;
		margin-right: 1rem;
	}

	main .tab_wrapper {
		display: none;
	}
	/* footer */
	#footer .footer_wrapper {
		flex-wrap: wrap;
	}
	#footer .footer_wrapper .logo {
		display: none;
	}
	#footer .footer_wrapper .links_1 a,
	#footer .footer_wrapper .links_2 a {
		margin-left: 1.5rem;
	}
}
